<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InetBankingV1">

	<listeners>
		<listener class-name="com.inetBanking.utilities.Reporting" />
	</listeners>

	<test name="Internet Banking Regression Suite">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.inetBanking.testClases.TC_LoginTest_001" />
            <class name="com.inetBanking.testClases.TC_NewCustomerTest_002" />
            <class name="com.inetBanking.testClases.TC_EditCustomerTest_003" />
            <class name="com.inetBanking.testClases.TC_NewAccountTest_004" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
